<!--
  templateType: global_partial
  label: Header no navigation
-->
<header class="header header--no-navigation">

  {# Main header #}

  <div class="header__container content-wrapper">

    {% dnd_area 'dnd_area' class='body-container body-container--landing-page', label='Main section' %}
      {% dnd_section %}
        
      {# Logo #}
        {% dnd_module "module_16974694489789" path="/logo", label="Logo" %}
        {% end_dnd_module %}
      {# End Logo #}

      {% end_dnd_section %}
    {% end_dnd_area %}

  </div>

</header>
