/* Error pages */

.error-page {
  padding: 10rem 0;
  position: relative;
  text-align: center;
}

.error-page:before {
  color: #F3F6F9;
  content: attr(data-error);
  font-size: 40vw;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

@media screen and (min-width: 1100px) {
  .error-page:before {
    font-size: 20rem;
  }
}

/* System pages */

.systems-page {
  margin: 0 auto;
  max-width: 700px;
  padding: 40px 0 60px;
}

.systems-page--search-results {
  max-width: 100%;
}

.systems-page .header {
  background-color: transparent;
  border-bottom: none;
  padding: 0;
}

.systems-page .success {
  background-color: #CDE3CC;
  border-left: 4px solid #4F7D24;
  color: #4F7D24;
  display: inline-block;
  margin: 1.6rem 0;
  padding: 20px 14px;
  width: 100%;
}

/* Search pages */

.hs-search-results__title {
  font-size: 1.25rem;
  margin-bottom: 0.35rem;
  text-decoration: underline;
}

.hs-search-results__title:hover {
  text-decoration: none;
}

.hs-search-results__description {
  padding-top: 0.7rem;
}

/* Password prompt */

.password-prompt input[type=password] {
  height: auto !important;
  margin-bottom: 1.4rem;
}

.systems-page #hs-login-widget-remember,
.systems-page #hs-login-widget-remember ~ label {
  display: inline-block;
  margin-bottom: 0.175rem;
}

.systems-page #hs_login_reset {
  display: block;
  margin-bottom: 0.7rem;
}

/* Backup unsubscribe */

.backup-unsubscribe #email-prefs-form div {
  padding-bottom: 0 !important;
}

.backup-unsubscribe input[type=email] {
  font-size: 0.875rem !important;
  margin-bottom: 1.4rem;
  padding: 0.7rem !important;
}

/* Subscription preferences */
{% if theme.system_pages.checkbox_type == 'circle' %}
{% set pref_border_radius = '50%' %}
{% elif theme.system_pages.checkbox_type == 'rounded' %}
{% set pref_border_radius = '6px' %}
{% else %}
{% set pref_border_radius = '0' %}
{% endif %}

{% if theme.system_pages.checkbox_size == 'small' %}
{% set pref_size = '18px' %}
{% set pref_margin = '32px' %}
{% elif theme.system_pages.checkbox_size == 'large' %}
{% set pref_size = '28px' %}
{% set pref_margin = '42px' %}
{% else %}
{% set pref_size = '24px' %}
{% set pref_margin = '38px' %}
{% endif %}

{% set pref_color = theme.system_pages.checkbox_color.css %}

#email-prefs-form .item.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#email-prefs-form .item.disabled input:disabled {
  cursor: not-allowed;
}
.systems-page .email-prefs #hs-localization-select {
	background-color: #f1f1f1;
	margin-bottom: 28px;
}

.systems-page .checkbox-row .fakelabel {
	display: flex;
	align-items: center;
}

.systems-page .checkbox-row .fakelabel input[type="checkbox"] {
	position: relative;
	display: block;
	-webkit-appearance: none;
	appearance: none;
	margin: 2px 0 0;
	width: {{ pref_size }};
	height: {{ pref_size }};
	background-color: transparent;
	border: 2px solid {{ pref_color }};
	border-radius: {{ pref_border_radius }};
	margin-right: 14px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.systems-page .checkbox-row .fakelabel input[type="checkbox"]:checked {
	background-color: {{ pref_color }};
}

.systems-page .checkbox-row .fakelabel input[type="checkbox"]:before {
	content: "\f00c";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 12px;
	color: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-40%);
	opacity: 0;
	visibility: hidden;
	transition: all ease-in-out .3s;
}

.systems-page .checkbox-row .fakelabel input[type="checkbox"]:checked:before {
	opacity: 1;
	visibility: visible;
	color: #fff;
}

.systems-page .checkbox-row .fakelabel span {
	font-size: 1.125rem;
	font-weight: 700;
}

.systems-page .item-inner > p {
	font-weight: 300;
	margin-left: {{ pref_margin }};
}

.systems-page form input {
  max-width: 100%;
}

.systems-page form input[type='submit'] {
  margin: 0.7rem 0;
  display: block;
}

/* Membership pages */

#hs-membership-form a[class*='show-password'] {
  font-size: 0.75rem;
}

/* Input error messages */

.form-input-validation-message ul.hs-error-msgs {
  padding-left: 0;
  margin: 0;
}

.form-input-validation-message ul.hs-error-msgs li {
  margin: 0;
}